[Unit]
Description=uWSGI service
After=syslog.target

[Service]
ExecStart=/srv/Hufs_BusTime/venv/bin/uwsgi -i /srv/Hufs_BusTime/bustimeline/.config/uwsgi/bustimeline.ini

Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target